@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Eden';
  src: url('/public/fonts/eden-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
